# Register the dynamic library for compiled thresholding code and allow the
# compiled functions to be attached to the thresholding namespace
useDynLib(thresholding, .registration = TRUE)

# Set up Rcpp when loading package using library(thresholding)
importFrom(Rcpp, evalCpp)

# Miscellanenous utilities
importFrom(magrittr, "%>%")
importFrom(stringr, str_extract_all)

# Rcpp analysis and thresholding functions - C++ code
export("analysis")
export("threshold")

# simple absolute_threshold functionality - R script
export("absolute_threshold")

# help() in analysis not exported in 1.0.0 - unfinished and needs renaming to analysis_help
# export("help")

# analysis() results reporting functions - R scripts
export("get_results")
export("get_iter_t_vals")
export("get_sig_t_vals")
export("get_local_global_alpha")

# Plotting utilities - R scripts
export("edge_hist")
export("plot_t_vs_ev")

