useDynLib(thresholding, .registration = TRUE)

importFrom(Rcpp, evalCpp)
importFrom(magrittr, "%>%")
importFrom(stringr, str_extract_all)

export("analysis")
export("help")
export("edge_hist")
export("get_results")
export("get_iter_t_vals")
export("get_sig_t_vals")
export("get_local_global_alpha")
export("plot_t_vs_ev")