useDynLib(thresholding, .registration = TRUE)

# Set up Rcpp when loading package using library(thresholding)
importFrom(Rcpp, evalCpp)
importFrom(magrittr, "%>%")
importFrom(stringr, str_extract_all)

# Analysis and thresholding functions
export("analysis")
export("absolute_threshold")
export("help")

# analysis() results reporting functions
export("get_results")
export("get_iter_t_vals")
export("get_sig_t_vals")
export("get_local_global_alpha")

# Plotting utilities
export("edge_hist")
export("plot_t_vs_ev")

